.main-slider {
	position: relative;
	&__item {
		background-image: url(../img/slide-1.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position:  0;
		height: 667px;
		overflow: hidden;
	}
	&__cont {
		position: relative;
		height: 667px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		z-index: 1;
		&:after {
			content: '';
			display: block;
			position: absolute;
			left: -20px;
			top: -30px;
			height: 1000px;
			width: 1000px;
			transform: rotate(45deg);
			transform-origin: top;
			background-color: rgba(0, 0, 0, 0.301);
			z-index: -1;
			overflow: hidden;
		}
	}
	&__title {
		text-transform: uppercase;
		color: #fff;
		font-size: 69px;
		span {
			line-height: 0.7;
			font-size: 152px;
		}
	}
	&__text {
		font-size: 13px;
		color: #fff;
		font-weight: 600;
	}
	&__button {
		margin-top: 36px;
	}
}

// Блок навигации слайдера
.main-slider .owl-nav {
	position: absolute;
	width: 100%;
	height: 0px;
	top: 50%;
}
.main-slider .owl-nav .owl-prev {
	position: absolute;
	top: -35px;
	left: 0;
}
.main-slider .owl-nav .owl-next {
	position: absolute;
	top: -35px;
	right: 0;
}
.main-slider .owl-nav .owl-next, 
.main-slider .owl-nav .owl-prev {
	fill: #fff;
}
.main-slider .owl-nav .owl-next:hover, 
.main-slider .owl-nav .owl-prev:hover {
	background-color: transparent;
	fill: $accent;
}
.main-slider .owl-nav .owl-next:focus, 
.main-slider .owl-nav .owl-prev:focus {
	outline: none;
}