@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 15px;
	min-width: 320px;
	position: relative;
	line-height: 1.2;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

p {
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}


//
// Общие стили - Структура 1. b-bold, n-normal, l-light, m-medium 2. n-normal, b-big, m-medium, s-small.
.b-n-text {
	font-size: 15px;
	font-weight: 700;
}

//
// Заголовок H2
.h2 {
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
	color: $text;
	position: relative;
	&:after {
		content: '';
		display: block;
		margin-top: 12.5px;
		width: 67px;
		height: 4px;
		background-color: $basic;
	}
}
//
// Информационная полоска
.info-bar {
	border-radius: 6px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 14px 20px;
	background-color: $coconutcream;
	svg {
		flex-shrink: 0;
		margin-right: 20px;
	}
}

//
// Подключение кастомных стилей
@import "_custom/header"; // Шапка
@import "_custom/scm-cart"; // Корзина
@import "_custom/main-slider"; // Слайдер
@import "_custom/advantage"; // Преимущество
@import "_custom/about-shop"; // Преимущество
@import "_custom/reviews"; // Отзывы
@import "_custom/information"; // Информация
@import "_custom/contact-us"; // Обратная связь

//
// Медиа
@import "media"; // Always at the end
