@import "vars";
/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
  // Первый блок / Главный экран
  .main-screen {
    // Видео
    &__video {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .video {
        height: 470px;
        width: 100%;
        background-position: center center;
      }
    }
  }
  .advantage {
    &__item {
      padding: 21px;
      align-items: center;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  } // Первый блок / Главный экран конец
  .about-card {
    &__picture {
      img {
        width: 100%;
      }
    }
  }
  .circle-animation {
    &__center {
      width: 200px;
      height: 200px;
      &:before {
        margin-top: -126px;
        margin-left: -126px;
        width: 257px;
        height: 257px;
      }
      &:after {
        margin-top: -156px;
        margin-left: -156px;
        width: 313px;
        height: 312px;
      }
    }
  } //Третий блок / Задать вопрос
  .s-form {
    &__item {
      margin-right: 12px;
      &:last-child {
        margin-right: 0;
      }
    }
	} // Пятый блок / Обо мне
	.plus {
		&--margin {
			margin-top: 20px;
		}
	}
  .my-photo {
		justify-content: center;
		align-items: center;
    &__img {
      max-width: 300px;
      max-height: 410px;
    }
    &__circle {
      margin-top: -100px;
      margin-left: -100px;
      width: 200px;
      height: 200px;
      &:before {
        margin-top: -126px;
        margin-left: -126px;
        width: 257px;
        height: 257px;
      }
      &:after {
        margin-top: -156px;
        margin-left: -156px;
        width: 313px;
        height: 312px;
      }
    }
  } // Шестой блок / Контакты
  .contacts {
    &__button {
      padding: 18px 30px;
    }
  }
}

// ≥992px
@include media-breakpoint-down(md) {
  // Шапка сайта
  .header {
    &__wrapper {
      position: relative;
    }
  } // Меню гамбургера
  .hamburger-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    top: 50px;
    right: 0;
    padding: 15px 0px;
    background-color: #fff;
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.192);
    z-index: 3;
    .main-menu__wrapper {
      display: flex;
      flex-direction: column;
    }
    .main-menu__item {
      &:after {
        content: '';
        height: 1px;
        width: 80px;
        background-color: #e8eaea;
        display: block;
        margin: 0 auto;
      }
      &:last-child:after {
        display: none;
      }
    }
    .main-menu__link {
      padding: 0px 20px;
      line-height: 30px;
      font-size: 13px;
      font-weight: 400;
      &:hover {
        background-color: #f6f7f7;
      }
    }
    &:before {
      -webkit-filter: drop-shadow(0 -1px 0 rgba(0, 0, 0, .15));
      filter: drop-shadow(0 -1px 0 rgba(0, 0, 0, .15));
      bottom: 100%;
      right: 2px;
      border: 7px solid transparent;
      border-bottom-color: transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-bottom-color: #fff;
      margin-left: 0;
    }
  } // Кнопка гамбургера
  .hamburger-toggle {
    display: block;
    transition: .3s ease-in-out;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
    &--sm-right {
      display: flex;
      justify-content: flex-end;
    }
    .hamburger-line {
      display: block;
      background-color: #566973;
      border-radius: 2px;
    }
    .hamburger {
      position: absolute;
      height: 100%;
      width: 100%;
      .hamburger-line {
        width: 20px;
        height: 2px;
        position: relative;
        top: 3px;
        left: 0px;
        margin-bottom: 3px;
        &:nth-child(1) {
          transition-delay: .5s;
        }
        &:nth-child(2) {
          transition-delay: .625s;
        }
        &:nth-child(3) {
          transition-delay: .75s;
          margin-bottom: 0;
        }
      }
    }
    .cross {
      position: absolute;
      height: 100%;
      width: 100%;
      transform: rotate(45deg);
      .hamburger-line {
        &:nth-child(1) {
          height: 0%;
          width: 3px;
          position: absolute;
          top: 1.5px;
          right: 8.5px;
          transition-delay: 0s;
        }
        &:nth-child(2) {
          width: 0%;
          height: 3px;
          position: absolute;
          left: 2.5px;
          top: 7.5px;
          transition-delay: .25s;
        }
      }
    }
  } // Открытие кнопки гамбургера
  .hamburger-toggle.open {
    .hamburger {
      .hamburger-line {
        width: 0%;
        &:nth-child(1) {
          transition-delay: 0s;
        }
        &:nth-child(2) {
          transition-delay: .125s;
        }
        &:nth-child(3) {
          transition-delay: .25s;
        }
      }
    }
    .cross {
      .hamburger-line {
        &:nth-child(1) {
          height: 80%;
          transition-delay: .625s;
        }
      }
      .hamburger-line {
        &:nth-child(2) {
          width: 80%;
          transition-delay: .375s;
        }
      }
    }
  } // Класс открытия меню
  .menu-open {
    opacity: 1;
    visibility: visible;
    top: 30px;
    pointer-events: auto;
  } // Выравнивание логотипа
  .header__logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
	} // Шапка сайта конец
	// Седьмой блок / Контакты
	.contacts {
		&__button {
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			max-width: 300px;
		}
	}
	// Седьмой блок / Контакты конец
}

// ≥768px
@include media-breakpoint-down(sm) {
  // Базовые стили
  html {
    font-size: 14px;
  }
  body {
    font-size: 14px;
  }
  .sub-title {
    line-height: 1.5rem;
  } // Шапка сайта
  .logo {
    display: none;
  }
  .logo-small {
    display: block;
  } // Шапка сайта конец
  // Первый блок / Главный экран
  .main-screen {
    .video {
      height: 300px;
    }
  }
  .b-form {
    display: none;
  }
  .form-side__wrapper {
    position: fixed;
    right: 0px;
    top: 40%;
  }
  .form-side {
    position: absolute;
    top: -120px;
    right: -400px;
    display: flex;
    padding: 20px 20px 20px 20px;
    background-color: #fff;
    flex-direction: column;
    &__title {
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
    }
    &__sub-title {
      font-size: 14px;
      margin-bottom: 10px;
    }
    &__item {
      margin-bottom: 10px;
    }
    &__check--text {
      font-size: 12px;
    }
    &__button {
      margin-top: 10px;
    }
    &--open {
      right: 0px;
    }
    &__sticker {
      display: block;
      position: fixed;
      right: -62px;
      opacity: 1;
      visibility: visible;
      top: 40%;
      transform: rotate(-90deg);
      padding: 5px 20px;
      background-color: $accent;
      color: $text;
      z-index: 2;
      transition: all .3 ease;
      overflow: hidden;
      &:after {
        content: "";
        display: block;
        width: 30px;
        height: 300px;
        margin-left: 60px;
        background: #fff;
        position: absolute;
        left: -40px;
        top: -150px;
        z-index: 1;
        transform: rotate(45deg);
        transition: .1s;
        animation: button-animation 3s .05s ease-in-out infinite;
      }
      &:hover {
        text-decoration: none;
        background-color: $text;
        color: #fff;
      }
      &.open {
        background-color: $text;
        color: #fff;
        right: -65px;
        opacity: 0.7;
      }
    }
  }
  .advantage {
    flex-flow: wrap;
    flex-direction: column;
    &__item {
      justify-content: flex-start;
      max-width: none;
      flex: 1;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
    &__picture {
      text-align: center;
      width: 48px;
      height: 48px;
    }
  } // Первый блок / Главный экран конец
  // Второй блок / Что такое гибридная сим-карта
  .about-picture {
    height: auto;
    margin: 50px 0px;
  }
  .about-card {
    &__picture {
      max-width: none;
    }
  }
  .advantage__item {
    margin-right: 0;
  } // Второй блок / Что такое гибридная сим-карта конец
  // Третий блок / Вопрос
  .question__form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .s-form__item {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
  } // Третий блок / Вопрос конец
  // Четвертый блок / Технология установки
  .tech {
    &__item {
      &:after {
        display: none;
      }
    }
  }
  .process {
    &__title {
      width: 240px;
      margin-left: auto;
      margin-right: auto;
    }
    &__text {
      width: 240px;
      margin-left: auto;
      margin-right: auto;
    }
  } // Четвертый блок / Технология установки конец
  // Шестой блок / Обо мне
  .about-me {
    &__item {
      margin-bottom: 20px;
    }
	} // Шестой блок / Обо мне конец
	// Седьмой блок / Контакты
	.contacts {
		&__wrapper {
			justify-content: center;
			align-items: center;
			margin-bottom: 20px;
		}
		&__call {
			margin-top: 0px;
		}
	}
	// Седьмой блок / Контакты конец
  // Восьмой блок / Бренды
  .brands {
    &__item {
      &:nth-child(n+5) {
        margin-bottom: 20px;
      }
    }
  }
}

@media only screen and (max-width: 380px) {
  .about-card__picture {
    img {
      width: 100%;
    }
  }
}

// ≥576px
@include media-breakpoint-down(xs) {}

/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {}

// ≤768px
@include media-breakpoint-up(md) {}

// ≤992px
@include media-breakpoint-up(lg) {}

// ≤1200px
@include media-breakpoint-up(xl) {}