@import "vars";
/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {}

// ≥992px
@include media-breakpoint-down(md) {
	// Хедер
	.header {
		&__wrapper {
			position: relative;
		}
	}
  .hamburger-toggle {
    display: block;
    transition: .3s ease-in-out;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
    .hamburger-line {
      display: block;
      background-color: #566973;
      border-radius: 2px;
    }
    .hamburger {
      position: absolute;
      height: 100%;
      width: 100%;
      .hamburger-line {
        width: 20px;
        height: 2px;
        position: relative;
        top: 3px;
        left: 0px;
        margin-bottom: 3px;
        &:nth-child(1) {
          transition-delay: .5s;
        }
        &:nth-child(2) {
          transition-delay: .625s;
        }
        &:nth-child(3) {
          transition-delay: .75s;
          margin-bottom: 0;
        }
      }
    }
    .cross {
      position: absolute;
      height: 100%;
      width: 100%;
      transform: rotate(45deg);
      .hamburger-line {
        &:nth-child(1) {
          height: 0%;
          width: 3px;
          position: absolute;
          top: 1.5px;
          right: 8.5px;
          transition-delay: 0s;
        }
        &:nth-child(2) {
          width: 0%;
          height: 3px;
          position: absolute;
          left: 2.5px;
          top: 7.5px;
          transition-delay: .25s;
        }
      }
    }
  }
  .hamburger-toggle.open {
    .hamburger {
      .hamburger-line {
        width: 0%;
        &:nth-child(1) {
          transition-delay: 0s;
        }
        &:nth-child(2) {
          transition-delay: .125s;
        }
        &:nth-child(3) {
          transition-delay: .25s;
        }
      }
    }
    .cross {
      .hamburger-line {
        &:nth-child(1) {
          height: 80%;
          transition-delay: .625s;
        }
      }
      .hamburger-line {
        &:nth-child(2) {
          width: 80%;
          transition-delay: .375s;
        }
      }
    }
  }
}

// ≥768px
@include media-breakpoint-down(sm) {}

// ≥576px
@include media-breakpoint-down(xs) {}

/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {}

// ≤768px
@include media-breakpoint-up(md) {}

// ≤992px
@include media-breakpoint-up(lg) {}

// ≤1200px
@include media-breakpoint-up(xl) {}