.gift {
	padding-top: 200px;
	padding-bottom: 200px;
	background-color: $mercury;
	position: relative;
	&:before {
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0;
    content: '';
    display: block;
    height: 130px;
    width: 100%;
    background-image: url(../img/why-bottom.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 65%;
	}
	&:after {
		z-index: 2;
		position: absolute;
		bottom: 0;
		left: 0;
		content: '';
		display: block;
		height: 130px;
		width: 100%;
		background-image: url(../img/gift-bottom1.svg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center 65%;
	}
	&__title {
		position: relative;
		z-index: 2;
	}
}

.g-card {
	margin-top: 60px;
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  text-align: center;
  box-shadow: 0 10px 60px rgba(33, 33, 33, 0.15);

  &__title {
    margin-top: 30px;
    color: $text;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
  }

  &__text {
    margin-top: 10px;
    color: $text;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
  }
}