.sale {
  background-color: $mercury;
  padding-bottom: 160px;
  position: relative;

  &__title {
    text-align: center;
  }

  &__text {
    margin-top: 30px;
    text-align: center;
  }
}

.sale-1st {
  padding-top: 70px;
}

.sale-2nd {
  background-color: $white;
}

.calculation {
  margin-top: 35px;
  display: flex;
  flex-direction: column;

  &__wrapper {
    display: flex;
    flex-direction: row;
  }

  &__item {
    margin-top: 22px;
  }

  &__left {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-right: 30px;
  }

  &__right {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  &__title {
    color: $text;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
  }

  &__input {
		position: relative;
    background-color: $white;
    margin-top: 8px;
    display: flex;
		align-items: center;
    padding: 15px 29px;
    flex: 1;
    border: 1px solid rgba(33, 33, 33, 0.3);
    transition: all .3s ease;

    &:hover {
      border: 1px solid $accent;
    }

    &:hover svg {
      transition: all .3s ease;
      fill: $accent;
    }

    &:hover input::placeholder {
      transition: all .3s ease;
      color: $accent;
    }

    input {
      transition: all .3s ease;
      margin-left: 12px;
      flex: 1;
      background-color: transparent;
			border: none;

      &::placeholder {
        transition: all .3s ease;
        color: $text;
        font-size: 15px;
        font-weight: 600;
        line-height: 19px;
      }
		}
		input.error {
			border-bottom: 1px solid rgba(245, 47, 87, 0.356);
		 }
		label {
			position: absolute;
			bottom: -30px;
			left: 25px;
			font-weight: bold;
			color: $radical-red;
		}
  }
}

.link-timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
	align-items: center;
  &__link {
    display: flex;
		flex: 1;
		width: 100%;
    max-width: 362px;
  }

  &__text {
    opacity: 0.6;
  }
}

@include media-breakpoint-down(sm) {
  .calculation {
    &__wrapper {
			flex-direction: column;
		}

		&__input {
			input {
				overflow: hidden;
			}
		}

    &__left {
      margin-right: 0;
    }
  }
}