.advantage {
	position: relative;
  &:after {
		content: '';
    display: block;
		width: 100%;
		max-width: 1140px;
    height: 1px;
    border-radius: 1px;
    background-color: $text;
		opacity: 0.05;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0px auto;
  }
  padding: 130px 35px;
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__title {
    margin-top: 45px;
  }
  &__text {
    margin-top: 45px;
    color: $sub-text;
    font-size: 18px;
    &:last-child {
      margin-top: 40px;
    }
  }
}