.business {
  position: relative;
  background-color: $bg;
  padding: 150px 0px;
  z-index: 1;
  &__choose-u {
    margin-top: 70px;
  }
  &__text {
    margin-top: 75px;
    color: $sub-text;
    font-size: 20px;
  }
  &__link {
    margin-top: 45px;
    color: $sub-text;
    font-size: 14px;
    font-weight: 400;
    a {
      color: #267df4;
      text-decoration: underline;
    }
  }
  &__plan {
    display: flex;
    flex-direction: row;
  }
}

.choose-u {
  display: flex;
  flex-direction: column;
  &__title {
    color: $text;
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
  }
  &__wrapper {
    position: relative;
    padding: 0px 30px;
    border-radius: 25px;
    border: 1px solid $light-gray;
    width: 258px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__toggle {
    display: block;
    position: absolute;
    top: 4px;
    left: 50%;
    background-color: #fff;
    z-index: -1;
    width: 124px;
    height: 42px;
    box-shadow: 10px 28px 50px rgba(92, 95, 101, 0.28), 2px 5px 20px rgba(61, 61, 62, 0.15);
    border-radius: 21px;
    transform: translateX(-100%);
    &--active {
      transform: translateX(0);
    }
  }
  &__plan {
    line-height: 50px;
    font-size: 16px;
    color: $sub-text;
    &:hover {
      cursor: pointer;
    }
  }
  &__active {
    color: $text;
  }
}

.plan {
  &__item {
		background-color: #ebebed;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
  }
  &__active {
    transform: scale(1.1);
    box-shadow: 10px 28px 50px rgba(92, 95, 101, 0.2);
    background-color: #fff;
    .plan__button {
      background-color: $accent;
      color: #fff;
      border: 1px solid transparent;
      &:hover {
        background-color: transparent;
        color: $accent;
        border: 1px solid $accent;
      }
    }
  }
  &__starter {
    padding: 55px 40px;
  }
  &__pro {
    padding: 40px 40px;
  }
  &__title {
    color: $text;
    font-size: 32px;
    font-weight: 300;
    line-height: 38px;
  }
  &__cost {
    margin-top: 25px;
    padding: 2px 15px;
    border-radius: 14px;
    border: 1px solid $sub-text;
    color: $text;
    font-size: 11px;
    font-weight: bold;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 1.1px;
  }
  &__descr {
    margin-top: 50px;
    color: $sub-text;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
  }
  &__advantages {
    margin-top: 40px;
  }
}

.p-advantages {
  &__item {
    margin-bottom: 8px;
    svg {
      fill: $send;
    }
  }
  &__item:last-child {
    margin-bottom: 0px;
  }
}

.plan__starter .plan__button {
  margin-top: 70px;
  padding: 8px 65px;
}

.plan__pro .plan__button {
  margin-top: 50px;
  padding: 8px 50px;
}