.main-screen {
	text-align: center;
	&__wrapper {
	}
  &__title {
    color: $text;
    font-family: "Varela-e";
    font-size: 59px;
    font-weight: 400;
    line-height: 72px;
  }
  &__text {
    margin: 40px 0px 65px;
    color: $sub-text;
    font-size: 20px;
  }
  &__button {
    padding: 16px 50px;
  }
  &__picture {
		margin-top: 55px;
    img {
			max-width: 100%;
      max-height: 100%;
    }
  }
}