$default-font: "Lato-e", sans-serif;
$accent: #267df4;
$text: #26272d;
$sub-text: #8c8f94;
$send: #6fc754;
$bg: #f4f4f4;
$light-gray: #d4d4d5;

// Custom collor's
$Shark: #1b1c1e;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;
