@import "vars";
@import "fonts";
@import "libs";

::placeholder {
  color: #666;
}

::selection {
  background-color: $accent;
  color: #fff;
}


body {
  font-size: 15px;
  min-width: 320px;
  position: relative;
  line-height: 1.5;
  font-family: $default-font;
  overflow-x: hidden;
  color: $text;

  input,
  textarea {
    border: #666 1px solid;
    outline: none;

    &:focus:required:invalid {
      border-color: red;
    }

    &:required:valid {
      border-color: green;
    }
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;

  &.img-width {
    width: 100%;
  }
}

.text-center {
  text-align: center;
}

b,
strong {
  font-weight: bold;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

//
// Общие стили
.container {
  position: relative;
}

.h2 {
  text-align: center;
  color: $text;
  font-size: 40px;
  font-weight: 800;

  &:after {
    content: '';
    display: block;
    margin: 0px auto;
    margin-top: 10px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 84px;
    height: 5px;
    background-color: $accent;
  }
}

//
// Кнопка с таймером
.link-timer {
  margin-top: 50px;
  text-align: center;

  &__link {
		text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    color: $white;
    font-size: 17px;
    font-weight: 700;
    color: $white;
    box-shadow: 0 10px 40px rgba(1, 175, 239, 0.45);
    border: 1px solid transparent;
    background-color: $accent;
    transition: all .3s ease;

    &:hover {
      text-decoration: none;
      color: $accent;
      background-color: $white;
      border: 1px solid $accent;
    }
  }

  &__text {
    margin-top: 22px;
    color: $text;
    font-size: 13px;
    font-weight: 600;
  }
}

.button-anim {
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &:after {
    content: "";
    display: block;
    width: 30px;
    height: 300px;
    margin-left: 60px;
    background: #fff;
    position: absolute;
    left: -40px;
    top: -150px;
    z-index: 1;
    transform: rotate(45deg);
    transition: .1s;
    animation: button-animation 3s .05s ease-in-out infinite;
  }
}



@import "_custom/home";
@import "_custom/sale";
@import "_custom/ad-video";
@import "_custom/why";
@import "_custom/gift";
@import "_custom/comment";
@import "_custom/guest";
@import "_custom/logo-sec";
@import "_custom/countdown";
@import "_custom/map";
@import "_custom/footer";
@import "_custom/hamburger-menu";
@import "animation";
@import "pop-up";
@import "media"; // Always at the end