.making {
  padding: 80px 0px;

  &__decor {
    margin-top: 6px;
	}
	
	&__title {
		margin-bottom: 50px;
	}
}

.fir-round {
  position: relative;

  &__number {
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    background-color: $accent;
    color: $white;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.4px;
  }

  &__text {
    margin-top: 10px;
    text-align: center;
    color: $text;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.32px;
	}
	&:after {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 106px;
		height: 54px;
		background-image: url(../img/shape-1.png);
		background-color: red;
	}
}

.fir-round--mt {
  margin-top: 140px;
}