.piece {
  padding: 80px 0px;
  background-color: $accent;
  background-image: url(../img/piece-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;

  &__quote {
		text-align: center;
    svg {
      fill: $white;
    }
  }

  &__text {
		margin-top: 17px;
		text-align: center;
    color: $white;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.4px;
  }
}