@import "vars";
@import "fonts";
@import "libs";

::placeholder {
  color: #666;
}

::selection {
  background-color: $accent;
  color: #fff;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: $default-font;
  overflow-x: hidden;
  color: $text;

  input,
  textarea {
    border: #666 1px solid;
    outline: none;

    &:focus:required:invalid {
      border-color: red;
    }

    &:required:valid {
      border-color: green;
    }
  }
}

b,
strong {
  font-weight: bold;
}

p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;

  &.img-width {
    width: 100%;
  }
}

.text-center {
  text-align: center;
}

a {
  transition: all .3s ease;
}

// Кастом
//
// Обычный текст
.block-text {
  color: $text;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

//
// Заголовки в блоках
.block-title {
  color: $text;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.4px;
}

//
// Заголовки h2
.h2 {
  display: flex;
  flex-direction: column;

  span {
    margin-bottom: 17px;
    color: $text;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: -0.32px;
  }

  color: $text;
  font-size: 46px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.92px;
}

//
// Заголовки h2
.h1 {
  display: flex;
  flex-direction: column;

  span {
    margin-bottom: 17px;
    color: $text;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: -0.32px;
  }

  color: $text;
  font-size: 46px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.92px;
}

//
// Декоративный элемент
.decor {
  width: 40px;
  height: 12px;
  border-radius: 6px;
  background-color: $accent;
}

//
// Блоки с картинками
.block-image {
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

//
// Нумерация блоков
.block-number {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 7px;
  height: 36px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  background-color: $accent;
  color: $white;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.36px;
}

//
// Цитата
.quote {
  text-align: center;

  &__symbol {
    svg {
      fill: $accent;
    }
  }

  &__text {
    margin-top: 5px;
    color: $text;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.4px;
  }
}

.quote__accent {
  color: $accent;
}

//
// Дополнительная информация
.block-info {
  color: $dusty-gray;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.28px;
}

//
// Жирный текст
.b-text {
  color: $text;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.32px;
}

//
// Нормальный текст
.n-text {
  color: $text;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: -0.32px;
}

//
// Большой жирный текст
.big-b-text {
  color: $text;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.4px;
}

@import "_custom/description";
@import "_custom/fame";
@import "_custom/action";
@import "_custom/indications";
@import "_custom/trust";
@import "_custom/fir-kinds";
@import "_custom/method";
@import "_custom/main-screen";
@import "_custom/basic";
@import "_custom/cta";
@import "_custom/piece";
@import "animation";
@import "_custom/making";
@import "_custom/points";
@import "_custom/del-pay";
@import "_custom/countdown";
@import "_custom/shopers";
@import "_custom/call";
@import "_custom/footer";
@import "media"; // Always at the end