@keyframes scroll-text {
	from {
		border-color: rgba(255, 255, 255, 0.26);
		color: rgba(255, 255, 255, 0.26);
	}
	50% {
		border-color: rgba(255, 255, 255, 0.808);
		color: rgba(255, 255, 255, 0.808);
	}
	to {
		border-color: rgba(255, 255, 255, 0.26);
		color: rgba(255, 255, 255, 0.26);
	}
}

