.hamburger-menu {
	position: relative;
	&__list {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: #111;
		overflow-x: hidden;
		transition: .5s;
		padding-top: 60px;
		// padding-left: 30px;
	}
	&__link {
		text-decoration: none;
		color: $text;
		transition: .3s;
		&:hover {
			color: $accent;
		}
	}
	&__closebtn {
		position: absolute;
		top: 0;
		right: 25px;
	}
}