$default-font: 'Montserrat', sans-serif;
$accent: #ffc857;
$action: #ef5b5b;
$text: #090c02;
$border: #a4a9ad;

$black-forest: #090c02;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;
